<!DOCTYPE html>
<html>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>

    <body ng-app="myApp">




        <div ng-view></div>

        <script>

            var app = angular.module("myApp", ["ngRoute"]);
            app.config(function ($routeProvider) {
                $routeProvider
                        .when("/", {
                            template: '<div ng-controller="myCtrl"><input type="file" file-change="handler($event,files)"  ng-model="MyFiles" /><p style="color:red">{{errormsg}}</p></div><a href="#linechart">Get Line chart</a>'
                        })
                        .when("/linechart", {
                            template: '<div id="container"></div>',
                            controller: MainCtrl
                        })

            });
            app.controller('myCtrl', function ($scope, StoreService) {
                $scope.MyFiles = [];
                $scope.errormsg = "";

                $scope.handler = function (e, files) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        var string = reader.result;
                        // split content based on new line
                        var allTextLines = string.split(/\r\n|\n/);
                        var headers = allTextLines[0].split(',');
                        var lines = [];

                        for (var i = 0; i < allTextLines.length; i++) {
                            // split content based on comma
                            var data = allTextLines[i].split(',');
                            if (data.length == headers.length) {
                                var tarr = [];
                                for (var j = 0; j < headers.length; j++) {
                                    tarr.push(data[j]);
                                }
                                lines.push(tarr);
                            }
                        }
                        $scope.data = lines;
                        StoreService.save($scope.data);

                    }
                    if (files[0].name.split(".")[1] == "csv") {

                        reader.readAsText(files[0]);
                        $scope.errormsg = "Your file is uploaded to server.Please click on the button to generate line chart";
                    } else {
                        $scope.errormsg = "Please select .csv file only";
                    }

                }
            });

            app.directive('fileChange', ['$parse', function ($parse) {
                    return{
                        require: 'ngModel',
                        restrict: 'A',
                        link: function ($scope, element, attrs, ngModel) {
                            var attrHandler = $parse(attrs['fileChange']);
                            var handler = function (e) {
                                $scope.$apply(function () {
                                    attrHandler($scope, {$event: e, files: e.target.files});
                                });
                            };
                            element[0].addEventListener('change', handler, false);
                        }
                    }
                }]);
            app.service('StoreService', function () {

                var data = {};

                this.save = function (data) {
                    this.data = data;

                };

                this.getData = function () {

                    return data;

                };


            });
            function MainCtrl($scope,StoreService) {
                var testdata = StoreService.data;
                var xData = [];
                var yData = [];
                angular.forEach(testdata, function (value, key) {
                    var x = [];
                    var y = [];
                    var spl = [];
                    var sname;
                    for (var i = 0; i < value.length; i++) {
                        if (i == 0) {
                            sname = value[0];
                        } else {
                            spl = value[i].split("|");
                            x.push(spl[0]);
                            y.push(spl[1]);
                        }
                    }
                    var newstr = '[' + y.join(', ') + ']';
                    var ob1 = {"data": JSON.parse(newstr)};
                    xData.push(x);
                    yData.push(ob1);


                });
                var flatArray = [].concat.apply([], xData);

                var uniqueNames = [];
                $.each(flatArray, function (i, el) {
                    if ($.inArray(el, uniqueNames) === -1)
                        uniqueNames.push(el);
                });
                Highcharts.chart('container', {
                    title: {
                        text: 'Series Data'
                    },
                    xAxis: {
                        categories: uniqueNames.sort()
                    },
                    series: yData
                });

            }

        </script>

    </body>
</html>